@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "FiraSans" sans-serif;
}

.custom-shadaw {
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.12) !important;
}

.header-shadaw {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.not-found-shadaw {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.search-shadaw {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) !important;
}

.placeholder-color {
  color: rgba(73, 73, 73, 0.3) !important;
}

.header-border {
  border-color: rgba(255, 255, 255, 0.3) !important;
}

.result-box-shadaw {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08) !important;
}

.gradient {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0) 41%,
    rgba(0, 0, 0, 0)
  ) !important;
}

.text-16 {
  font-size: 16px !important;
}

.bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../assets/images/home-bg.webp");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.article-bg {
  background-image: url("../../assets/images/top-story-img.webp");
  background-position: center;
  background-size: cover;
  height: 298px;
}

.article-bg-2 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0) 41%,
      rgba(0, 0, 0, 0)
    ),
    url("../../assets/images/IMG_1277.webp");
  background-position: center;
  background-size: cover;
  height: 596px;
  position: relative;
}

.H-auto {
  height: auto !important;
}

.in-actu::after {
  content: "";
  position: relative;
  bottom: 30%;
  background-color: #fdab09;
  display: block;
  width: 70px;
  height: 5px;
}

.last-block-shadaw {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08) !important;
}

.archive-bg {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0) 41%,
      rgba(0, 0, 0, 0)
    ),
    url("../../assets/images/archive.webp");
  background-position: center;
  background-size: cover;
  height: 715px;
  position: relative;
}

progress::-moz-progress-bar {
  background: #fdab09;
  width: 100%;
}
progress::-webkit-progress-value {
  width: 100%;
  background: #fdab09;
}
progress {
  background: transparent !important;
}
